
root = true

[*]
insert_final_newline = true
end_of_line = lf

[*.{md,py,txt,gcode,editorconfig}]
indent_style = space
indent_size = 4
charset = utf-8

[*.{py,txt,gcode,editorconfig}]
trim_trailing_whitespace = true
